{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Modal Example</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/modal.css'%}">
</head>
<body>

  <!-- Botón que abre el modal -->
  <button id="openModal">Abrir Modal</button>

  <!-- Modal -->
  <div id="myModal" class="modal">
    <div class="modal-content">
      <span class="close">&times;</span>
      <h2>Título del Modal</h2>
      <p>Este es el contenido del modal.</p>
    </div>
  </div>

  <script src="{% static 'js/modal.js' %}"></script>
</body>
</html>
