{% extends 'base.html' %}
{% load static %}


{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/crear_cuenta.css' %}">
{% endblock %}
{% block content %}
<!-- Card creacion de cuenta-->
<div class="card mb-3 top" style="width: 30%;">
    <div class="card-body">
        <form method="post" class="form-group">
            {% csrf_token %}
            {{ form.as_p }} <!-- Usaremos Bootstrap para estilizar los campos luego -->
            <button type="submit" class="btn btn-primary btn-block">Registrarse</button>
        </form>
       
    </div>
</div>
{% endblock %}
