{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear cuanta</title>
    {% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/crear_cuenta.css'%}">
    {% endblock %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script type="text/javascript">
        (function(c,l,a,r,i,t,y){
            c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
            t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
            y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
        })(window, document, "clarity", "script", "oxjexcyto6");
    </script>
</head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-449T3X34HB"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-449T3X34HB');
</script>
<body style="background-color: aliceblue;">
     
<!-- Card creacion de cuenta-->
{% block content %}
<div class="card mb-3 top" style="width: 30%;">
    <div class="card-body">
        <!-- Renderizar errores generales del formulario -->
        {% if form.non_field_errors %}
            <div class="alert alert-danger" role="alert">
                {% for error in form.non_field_errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            </div>
        {% endif %}

        <form method="post" class="form-group">
            {% csrf_token %}
            <!-- Nombre -->
            <div class="form-group">
                {{ form.nombre.label_tag }}
                {{ form.nombre }}
                {% if form.nombre.errors %}
                    <div class="text-danger">
                        {% for error in form.nombre.errors %}
                            <small>{{ error }}</small>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

            <!-- Email -->
            <div class="form-group">
                {{ form.email.label_tag }}
                {{ form.email }}
                {% if form.email.errors %}
                    <div class="text-danger">
                        {% for error in form.email.errors %}
                            <small>{{ error }}</small>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

            <!-- Teléfono -->
            <div class="form-group">
                {{ form.telefono.label_tag }}
                {{ form.telefono }}
                {% if form.telefono.errors %}
                    <div class="text-danger">
                        {% for error in form.telefono.errors %}
                            <small>{{ error }}</small>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

            <!-- Contraseña -->
            <div class="form-group">
                {{ form.password.label_tag }}
                {{ form.password }}
                {% if form.password.errors %}
                    <div class="text-danger">
                        {% for error in form.password.errors %}
                            <small>{{ error }}</small>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

            <!-- Confirmar Contraseña -->
            <div class="form-group">
                {{ form.confirmar_password.label_tag }}
                {{ form.confirmar_password }}
                {% if form.confirmar_password.errors %}
                    <div class="text-danger">
                        {% for error in form.confirmar_password.errors %}
                            <small>{{ error }}</small>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <br>
            <!-- Botón de enviar -->
            <button type="submit" class="btn btn-primary btn-block">Registrarse</button>
        </form>
    </div>
</div>


<!--Scripts-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<!--  fin scripts   -->
</body>
{% endblock %}
</html>