{% extends "base.html" %}
{% load static %}
{% load humanize %}

{% block title %}Lista de Deseados{% endblock %}


{% block content %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/deseados.css' %}">
{% endblock %}

<!-- Contenido principal de lista de deseados -->
<div class="container my-4">
    <div class="row">
        <div class="col-8">
            <div class="row">
                {% for producto in productos_deseados %}
                <div class="col-6 mb-4">
                    <div class="card shadow-sm border-light">
                        <img src="{% static 'imagenes/' %}{{ producto.producto.imagen }}" class="card-img-top" alt="{{ producto.producto.nombre }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ producto.producto.nombre }}</h5>
                            <p class="card-text">{{ producto.producto.categoria.nombre }}</p>
                            <p class="card-text fw-bold">${{ producto.producto.precio|intcomma:"" }}</p>
                            <div class="d-flex justify-content-between">
                                <a href="{% url 'miCarrito' %}" class="btn btn-custom">Ir al Carrito</a>
                                <form method="POST" action="{% url 'eliminar_deseado' producto.id %}">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-danger">Eliminar</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                {% empty %}
                <p> NO TIENES PRODUCTOS EN TU LISTA </p>
                {% endfor %}
            </div>
        </div>
        <div class="col-4">
            <h4 class="text-center">Lista de Deseados</h4>
            <ul class="list-group">
                {% for producto in productos_deseados %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        {{ producto.producto.nombre }} - ${{ producto.producto.precio|intcomma }}
                    </li>
                {% empty %}
                    <li class="list-group-item">No hay productos en tu lista de deseados</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

{% endblock %}
