{% load static %}
{% load humanize %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="icon" type="image/png" href="{% static 'imagenes/' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css'%}">
    <script src="{% static 'js/home.js' %}"></script>
    <style>
       
    </style>
</head>

<div class="barra-arcoiris">
    <h2 class="texto-arcoiris">¡Bienvenido a Nuestra Tienda!</h2>
</div>

<body style="background-color: white;"> 
    <!-- Navbar principal -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a href="{% url 'home' %}"> <!-- Cambia 'home' por el nombre de tu URL correspondiente -->
                <img src="{% static 'imagenes/Logo_mauri_agency.jpeg' %}" class="logo" alt="Logo de Mauri Agency">
            </a>
            <div class="collapse navbar-collapse" id="navbarToggler">
                <div class="d-flex mx-auto align-items-center">
                    <form method="GET" action="{% url 'buscar' %}" class="d-flex">
                        <input class="form-control me-2 tamano_bus" type="text" name="q" placeholder="Buscar productos..." aria-label="Search" style="width: 500px;">
                        <button class="btn btn-outline-light" type="submit">Buscar</button>
                    </form>
                </div>
                <!-- Corazón creado con CSS -->
                <a href="{% url 'deseados' %}">
                    <img src="{% static 'imagenes/love_icon.png' %}" alt="deseados" class="logo">
                </a>
                <a href="{% url 'miCarrito' %}">
                    <img src="{% static 'imagenes/carrito_white.png' %}" alt="Carrito" class="logo">
                </a>
                <div class="dropdown">
                    <a class="dropdown-toggle ancho_nav" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="{% static 'imagenes/Logo_usuario_cuenta.jpeg' %}" class="logo" alt="Usuario">
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                        <li>
                            <a class="dropdown-item" href="{% url 'inicio_sesion' %}">
                                <img src="{% static 'imagenes/iniciar_sesion_icono.png' %}" alt="Iniciar sesión" style="width: 20px; margin-right: 8px;">
                                Iniciar Sesión
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{% url 'registro' %}">
                                <img src="{% static 'imagenes/registrarse_icono.png' %}" alt="Registrarse" style="width: 20px; margin-right: 8px;">
                                Registrarse
                            </a>
                        </li>
                        <li><hr class="dropdown-divider"></li>
                        <li>
                            <a class="dropdown-item" href="{% url 'cerrar_sesion' %}">
                                <img src="{% static 'imagenes/cerrar_sesion_icono.png' %}" alt="Cerrar sesión" style="width: 20px; margin-right: 8px;">
                                Cerrar Sesión
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</body>
</html>


    <!-- Navbar secundaria -->
    <div class="menu">
        <div class="menu-item">
            <a href="{% url 'buscar' %}?q=Mac">Mac</a>
            <div class="dropdown-content">
                <a href="{% url 'buscar' %}?q=Mac">Ver</a>
                <a href="{% url 'buscar' %}?q=Mac">Todo sobre Mac</a>
            </div>
        </div>
        <div class="menu-item">
            <a href="{% url 'buscar' %}?q=Notebook">Computadores</a>
            <div class="dropdown-content">
                <a href="{% url 'buscar' %}?q=Computadores">Ver</a>
                <a href="{% url 'buscar' %}?q=Notebook">Notebooks</a>
            </div>
        </div>
        <div class="menu-item">
            <a href="{% url 'buscar' %}?q=celulares">Teléfonos</a>
            <div class="dropdown-content">
                <a href="{% url 'buscar' %}?q=Teléfonos">Ver</a>
                <a href="{% url 'buscar' %}?q=Action">Another Action</a>
            </div>
        </div>
        <div class="menu-item">
            <a href="{% url 'buscar' %}?q=Accesorios">Accesorios</a>
            <div class="dropdown-content">
                <a href="{% url 'buscar' %}?q=Accesorios">Ver</a>
                <a href="{% url 'buscar' %}?q=Another">Another Action</a>
            </div>
        </div>
    </div>
    
    
    
    <!--publicidad-->

<!--_____________________________________carrusel portada______________________________-->


<div id="carouselCustom" class="custom-carousel slide" data-bs-ride="carousel" data-bs-interval="3000">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="{% static 'imagenes/imagen_carrusel.png' %}" class="d-block w-100" alt="Imagen 1">
            <div class="carousel-caption d-none d-md-block">
                <h5></h5>
                <p></p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="{% static 'imagenes/imagen_carrusel_2.png' %}" class="d-block w-100" alt="Imagen 2">
            <div class="carousel-caption d-none d-md-block">
                <h5></h5>
                <p></p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="{% static 'imagenes/imagen_carrusel_3.png' %}" class="d-block w-100" alt="Imagen 3">
            <div class="carousel-caption d-none d-md-block">
                <h5></h5>
                <p></p>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselCustom" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Anterior</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselCustom" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Siguiente</span>
    </button>
</div>

    



<!--__________________________________Carrusel _______________________-->
<h5 class="rainbow-text">Nuestras Ofertas</h5>

<div class="container" id="carrusel_css">
    <div class="carousel">
        <h2></h2>
        <div class="carrusel-list" id="carrusel-list">
            <!-- Botón anterior del carrusel -->
            <button class="carrusel-arrow carrusel-prev" id="button-prev" data-button="button-prev">
                <!-- SVG para el botón anterior -->
            </button>

            <!-- Productos del carrusel -->
            <div class="carrusel-track" id="track">
                {% for producto in productos_1 %}
                <div class="carrusel">
                    <div class="producto">
                        <a href="{% url 'carritoid' producto.id %}">
                            <h4><small>{{ producto.nombre }}</small> ${{ producto.precio|intcomma }}</h4>
                            <picture>
                                <img src="{% static 'imagenes/' %}{{ producto.imagen }}" alt="{{ producto.nombre }}">
                            </picture>
                        </a>
                        <a href="{% url 'agregar_deseado' producto.id %}" class="heart-button" aria-label="Agregar a deseados">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="red" viewBox="0 0 24 24">
                                <path d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"/>
                            </svg>
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>

            <!-- Botón siguiente del carrusel -->
            <button class="carrusel-arrow carrusel-next" id="button-next" data-button="button-next">
                <!-- SVG para el botón siguiente -->
            </button>
        </div>
    </div>
</div>



<!--_______________________Tarjetas giratorias_____________________________-->
<div class="container">
    {% for producto in por_categorias_2 %}
    <div class="card">
        <div class="face front">
            <img src="{% static 'imagenes/' %}{{ producto.imagen }}" alt="{{ producto.nombre }}">
            <h3>{{producto.nombre}}</h3>
        </div>
        <div class="face back">
            <h3>{{producto.nombre}}</h3>
            <p>Japon es un pais muy hermoso al que deseo viajar en el futuro
                quiero poder hablar fluidamente con un hablante nativo
            </p>
            <div class="link">
                <a href="">Detalle</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<!--_______________________segundo carrusel______________________________-->
<h5 class="rainbow-text">Nuestras Ofertas</h5>

<div class="container" id="carrusel_css">
    <div class="carousel">
        <h2></h2>
        <div class="carrusel-list" id="carrusel-list">
            <!-- Botón anterior del carrusel -->
            <button class="carrusel-arrow carrusel-prev" id="button-prev" data-button="button-prev">
                <!-- SVG para el botón anterior -->
            </button>

            <!-- Productos del carrusel -->
            <div class="carrusel-track" id="track">
                {% for producto in productos_2 %}
                <div class="carrusel">
                    <div class="producto">
                        <a href="{% url 'carritoid' producto.id %}">
                            <h4><small>{{ producto.nombre }}</small> ${{ producto.precio }}</h4>
                            <picture>
                                <img src="{% static 'imagenes/' %}{{ producto.imagen }}" alt="{{ producto.nombre }}">
                            </picture>
                        </a>
                        <a href="{% url 'agregar_deseado' producto.id %}" class="heart-button" aria-label="Agregar a deseados">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="red" viewBox="0 0 24 24">
                                <path d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"/>
                            </svg>
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>

            <!-- Botón siguiente del carrusel -->
            <button class="carrusel-arrow carrusel-next" id="button-next" data-button="button-next">
                <!-- SVG para el botón siguiente -->
            </button>
        </div>
    </div>
</div>


<!-- TERCERA OPCION DE PRODUCTOS  CARRUSEL -->
<h5 class="rainbow-text">Complementa tu experiencia con productos increíbles</h5>
<div class="container" id="productos_destacados">
    <div class="carrusel-list" id="carrusel-list-2">
        <div class="carrusel-track" id="track-2">
            {% for producto in productos_3 %}
            <div class="producto">
                <a href="/">
                    <picture>
                        <img src="{% static 'imagenes/' %}{{ producto.imagen }}" alt="{{ producto.nombre }}">
                    </picture>
                    <span class="categoria">{{ producto.categoria }}</span> <!-- Nueva línea para la categoría -->
                    
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>


<div class="imagenes-laterales">
    <div class="texto-unico-súper-raro">
        
    </div>
    <div class="imagen-izquierda">
        <img src="{% static 'imagenes/safe-trade-in.png' %}" alt="Descripción imagen izquierda" class="imagen-lateral">
    </div>
    <div class="imagen-derecha">
        <img src="{% static 'imagenes/foto_muchos_celulares.png' %}" alt="Descripción imagen derecha" class="imagen-lateral">
    </div>
</div>




<!-- _______________________________Tarjetas______________________________________-->
    <div class="container" id="tarjetas_margen">
        {% for producto in por_categorias_1 %}
        <div class="card">
            <figure>
                <img src="{% static 'imagenes/' %}{{ producto.imagen }}" alt="{{ producto.nombre }}">
            </figure>
            <div class="content">
                <h3>{{producto.nombre}}</h3>
                <p>{{producto.precio}}</p>
                <a href="#">Añadir al Carrito</a>
            </div>
        </div> 
        {% endfor %} 
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>



 <!-- marcaaas-->

<div class="marcas">
    <h2>Marcas que Confiamos</h2>
    <div class="marcas-list">
        <img src="{% static 'imagenes/Microsoft_marca.png' %}" alt="Microsoft" class="marca">
        <img src="{% static 'imagenes/Gigastone.png' %}" alt="Google" class="marca">
        <img src="{% static 'imagenes/HermanKardon.png' %}" alt="Amazon" class="marca">
        <img src="{% static 'imagenes/JBL.png' %}" alt="Samsung" class="marca">
        <!-- Agrega más imágenes según sea necesario -->
    </div>
</div>


<!--___________________________ Footer _______________________________-->
<footer class="bg-light text-dark pt-5 pb-4">
    <div class="container text-center text-md-start">
        <div class="row text-center text-md-start ">
            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                
                <img src="{% static 'imagenes/Logo_mauri_agency.jpeg'%}" class="logo-footer" alt="Logo Mauri Agency">
            </div>
            <div class="col-md-3 col-lg-3 col-lx-3 mx-auto mt-3">
                <h5 class="text-uppercase mb-4 font-weight-bold text-primary">Nosotros</h5>
                <hr class="mb-4">
                <p>
                    Página web diseñada y construida con el fin de formar una comunidad de entusiastas en la tecnología.
                </p>
            </div>
            <div class="col-md-2 col-lg-2 col-xl-2 ms-auto mt-3">
                <h5 class="text-uppercase mb-4 font-weight-bold text-primary">Catálogo</h5>
                <hr class="mb-4">
                <p><a href="#" class="text-dark">Apple</a></p>
                <p><a href="#" class="text-dark">Computadoras</a></p>
                <p><a href="#" class="text-dark">Teléfonos</a></p>
                <p><a href="#" class="text-dark">Accesorios</a></p>
            </div>
            <div class="col-md-2 col-lg-2 col-xl-2 ms-auto mt-3">
                <h5 class="text-uppercase mb-4 font-weight-bold text-primary">Haz dinero</h5>
                <hr class="mb-4">
                <p><a href="#" class="text-dark">Promociona tu negocio</a></p>
                <p><a href="#" class="text-dark">Tus órdenes</a></p>
                <p><a href="#" class="text-dark">Manejo de cuenta</a></p>
            </div>
            <div class="col-md-2 col-lg-2 col-xl-2 ms-auto mt-3">
                <h5 class="text-uppercase mb-4 font-weight-bold text-primary">Contacto</h5>
                <hr class="mb-4">
                <p><li class="fas fa-home me-3"></li> Chile - Melipilla</p>
                <p><li class="fas fa-envelope me-3"></li> test@gmail.com</p>
                <p><li class="fas fa-phone me-3"></li> +56911111111</p>
            </div>
            </div>
            <div class="text-center">
                <ul class="list-unstyled list-inline">
                    <li class="list-inline-item"><a href="#" class="text-dark"><i class="fab fa-facebook"></i></a></li>
                    <li class="list-inline-item"><a href="#" class="text-dark"><i class="fab fa-twitter"></i></a></li>
                    <li class="list-inline-item"><a href="#" class="text-dark"><i class="fab fa-linkedin-in"></i></a></li>
                    <li class="list-inline-item"><a href="#" class="text-dark"><i class="fab fa-instagram"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
</html>