{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/inicio_sesion.css' %}">
{% endblock %}

{% block content %}
<!-- Card inicio de cuenta -->
<div class="card mb-3 top inicio-sesion" style="width: 30%; margin: 50px auto;">

    <div class="margen">
        <form method="post">
            <div class="form-floating mb-3">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Iniciar sesión</button>
                <p>¿Ha olvidado su contraseña? <a href="{% url 'password_reset'%}">¡Recupérela!</a></p>
                <p>¿No está registrado? <a href="{% url 'registro'%}">¡Regístrate!</a></p>
            </div>
        </form>
    </div>
</div>
{% endblock %}
