{% extends "base.html" %}
{% load static %}
{% load my_filters %}



{% load humanize %}

{% block title %}Lista de Deseados{% endblock %}


{% block content %}


    <!-- Contenido del Mi carrito -->

    <!-- <div class="container-fluid tarjeta"> 
        <div class="card" style="display: flex; flex-direction: row; align-items: center;">
            <div style="flex-shrink: 0;">
                <img src="{% static 'imagenes/carrito.png' %}" alt="producto" style="width: 150px; height: auto; margin-right: 20px;">
            </div>
            <div class="card-body" style="flex: 1;">
                <h5 class="card-title">Tu producto</h5>
                <p class="card-text">$20000</p>
                <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aspernatur, minus. Commodi laboriosam magni error eos vero quae, quas eius quis doloribus iure nemo quisquam ex temporibus voluptas, aliquid maxime? Architecto?</p>
            </div>
        </div>
    </div> -->
    
    <div class="container mt-5">
        <h1 class="mb-4">Carrito de Compras</h1>
        
        {% if carrito %}
            <table class="table table-striped table-hover">
                <thead class="table-dark">
                    <tr>
                        <th>Imagen</th>
                        <th>Nombre del Producto</th>
                        <th>Cantidad</th>
                        <th>Precio Unitario</th>
                        <th>Subtotal</th>
                        
                    </tr>
                </thead>
                <tbody>
                    {% for key, producto in carrito.items %}
                        <tr>
                            <!-- Columna para la imagen -->
                            <td>
                                <img src="{{ producto.imagen.url }}" alt="{{ producto.nombre }}" width="100" class="img-fluid img-thumbnail">
                            </td>
                            <td>{{ producto.nombre }}</td>
                            <td>{{ producto.cantidad }}</td>
                            <td>${{ producto.acumulado|floatformat:2 }}</td>
                            <td>${{ producto.cantidad|multiply:producto.acumulado|floatformat:2 }}</td>
                            
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p class="alert alert-info">Tu carrito está vacío.</p>
        {% endif %}
    </div>
    
    
    <!-- Fin del contenido -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <!--___________________________ Footer _______________________________-->
    {% endblock %}