{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- Enlace al CSS específico de esta página -->
<link rel="stylesheet" type="text/css" href="{% static 'css/miscompras.css' %}">

<main>
    <h2>Mis Compras</h2>

    <div class="compras-section">
        {% for orden in ordenes %}
        <div class="compra-card">
            <div class="compra-info">
                <p><strong>Orden de Compra:</strong> {{ orden.id }}</p>
                <p><strong>Fecha:</strong> {{ orden.creado }}</p>
                <p><strong>Total:</strong> ${{ orden.total|floatformat:2 }}</p>
            </div>
            <div class="productos">
                {% for detalle in orden.detalleorden_set.all %}
                <div class="producto">
                    <img src="{{ detalle.producto.imagen.url }}" class="producto-imagen" alt="Imagen de {{ detalle.producto.nombre }}">
                    <div class="producto-detalle">
                        <p><strong>{{ detalle.producto.nombre }}</strong></p>
                        <p>SKU: {{ detalle.producto.id }}</p>
                        <p>Cantidad: {{ detalle.cantidad }}</p>
                        <p>Precio Unitario: ${{ detalle.precio|floatformat:2 }}</p>
                        <p>Subtotal: ${{ detalle.cantidad|floatformat:2 }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% empty %}
        <p class="alert alert-info">No tienes compras realizadas.</p>
        {% endfor %}
    </div>
</main>
{% endblock %}
