/*______________________________Navegador___________________________*/
.logo{
    width: 50px;
    height: auto;
    border-radius: 50%;
    margin-left: 10px;
}

.ancho_nav{
    width: auto;
}

/*__________________________________________Footer__________________________*/
.navbar-nav .nav-link:hover {
    color:peru ;
}

.margen{
    margin: 5%;
}

.logo_2{
    width: 50px;
    height: auto;
    border-radius: 50%;
}

.ancho_foot{
    width: max-content;
}

footer{
    width: 100%;
}

.tamano_bus{
    width: 400px;
}

.alto_nav{
    height: 35px;
}

.nav-link{
    color: black;
}

/* ------------------------------------------------------------- */

.tarjeta{
    margin-top: 2%;
    margin-bottom: 2%;
}