<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-449T3X34HB"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-449T3X34HB');
</script>
    <h2>Contraseña restablecida</h2>
<p>Tu contraseña ha sido restablecida con éxito. Ahora puedes <a href="{% url 'inicio_sesion' %}">iniciar sesión</a>.</p>

</body>
</html>