{% extends 'base.html' %}
{% load static %}

{% block head %}
    <!-- Meta información específica para esta página -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restablecer Contraseña</title>
    <!-- Estilos específicos para la página de restablecimiento de contraseña -->
    <link rel="stylesheet" href="{% static 'css/password_reset_form_custom.css' %}">
{% endblock %}

{% block content %}
    <div class="password-reset-container">
        <div class="password-reset-card">
            <h1>Restablecer tu Contraseña</h1>
            <p>Introduce tu correo electrónico para recibir un enlace para restablecer tu contraseña.</p>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="password-reset-btn">Enviar Enlace</button>
            </form>
        </div>
    </div>
{% endblock %}
